<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Query result</title>
</head>
<body>
    <main>
        <h2>Car data you were looking for with product number:</h2>
        <p>Product number: <%= result.productNumber %></p>
        <p>Model: <%= result.model %></p>
        <p>Maximum speed: <%= result.maxspeed %></p>
        <p>Rating: <%= result.rating %></p>
        <p>Year: <%= result.year %></p>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>